@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 1rem;
    left: 1rem;
  }

  .navbar:hover #logo {
    display:none;
  }

  .navItem:nth-child(2) {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 1rem;
    left: 1rem;
  }


  .navbar:hover #logo {
    height: 3rem;
    transform: rotate(360deg);
  }
}

:root {
  font-size: 16px;
  font-family: 'Baloo Bhaina 2', cursive;
}
body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-snap-type: y mandatory;
}

.client {
  display: none;
}

.navbar {
  position: fixed;
  z-index: 2;
  font-weight: 500;
}

.navbar:hover {
  width: auto;
}

.navbar:hover .navItem {
  display: block;
}


#logo {
  height: 2rem;
  fill: white;
  transition: 400ms;
}



.navItems {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: rgba(89,89,89,0.7);
  border-radius: 2rem;
}

.navItem:last-child {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}



.navItem {
  display: none;
  cursor: pointer;
  color: #F4EBD6;
  transition: 600ms;
  padding: 1rem;
  text-align: center;
}

.navItem:hover {
  background-color: white;
  color: black;
}

.intro {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: grey;
  height: 100vh;
  font-family: 'Satisfy', cursive;
  color: #F4EBD6;
  background: linear-gradient(
    45deg,
    rgba(71,71,71,0.5) 0%,
    rgba(71,71,71,0.4) 100%),
    url(../src/images/image1.jpg);
  position: relative;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-snap-align: start;
}

.intro h1 {
  position: inherit;
  font-size: 3rem;
}

.intro p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  color: #1B998B;
  background-color: #FFFED1;
}

section h1 {
  padding: 3rem;
  text-align: center;
  font-size: 3rem;
  font-family: 'Satisfy', cursive;
}

section:nth-child(even) {
  background-color: #2D3047;
  color: #EE3587;
}
