@media only screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }

  .navbar {
    bottom: 1rem;
    left: 1rem;
  }

  .navbar:hover #logo {
    display:none;
  }

  .navItem:nth-child(2) {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  iframe {
    display: none;
  }

  .stat-head {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
  }

  .stats {
    display: none;
  }
  #profile {
    display: none;
  }
  #mobileText {
    padding: 1rem;
    font-size: 1.3rem;
    text-align: center;
  }

  .stat-head h3 {
    font-size: 2rem;
    text-align: center;
  }

  .hobby img {
    width: 5rem;
    padding: 0.5rem;
  }

  .hobby p {
    display: none;
  }

  .information h2 {
    font-size: 2rem;
    text-align: center;
  }

  .information {
    margin-top: 2rem;
  }

  .hobbies {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
  }

  .tech img {
    width: 4rem;
    padding: 0.5rem;
  }

  .techContainer {
      width: 60%;
      padding: 1rem;
  }

  .contactBtnsContainer {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

  }
  .contact {
    margin-top: 1rem;
    height: 3.5rem;
    border: solid white 2px;
  }

  .contact p {
    width: 100%;
    align-self: center;
    text-align: center;
  }
  .contact img {
    width: 3rem;
    padding: 0.25rem;
  }
}

@media only screen and (min-width: 600px) {
  :root {
    font-size: 16px;
  }

  .navbar {
    top: 1rem;
    left: 1rem;
  }

  .contact img {
    position: relative;
    width: 4rem;
    padding: 0.5rem;
    bottom: 15%;
  }

  #mobileText {
    display: none;
  }

  .navbar:hover #logo {
    height: 3rem;
    transform: rotate(360deg);
  }
  .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .hobbies {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    grid-gap: 1rem;
  }

  .stat-card {
    background-color: #252323;
    color: #F5F1ED;
    width: 20%;
    height: 70%;
    padding: 1rem;
    border-radius: 2rem;
    margin-left: 7rem;
    margin-top: -3rem;
    -webkit-box-shadow: 10px 10px 16px -3px rgba(37,35,35,0.45);
    -moz-box-shadow: 10px 10px 16px -3px rgba(37,35,35,0.45);
    box-shadow: 10px 10px 16px -3px rgba(37,35,35,0.45);
  }

  .stat-head {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .stats {
    margin: 1.5rem 0;
    display: grid;
    grid-template: 1fr 1fr 1fr / 0.5fr 1fr;
    grid-row-gap: 1rem;
  }
  .stat-card h3 {
    flex-grow: 3;
    display: inline-block;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
  }

  .stat-card p {
    font-size: 1.2rem;
    -ms-align-self: center;
    align-self: center;

  }

  .stat-card svg {
    width: 2rem;
    fill: white;
  }

  .stat-card #profile {
    flex-grow: 1;
    color: #4392F1;
    width: 70px;
    height: 70px;
  }

  .information {
    padding: 1rem;
    width: 55%;
    margin-left: 5rem;
    background-color: #252323;
    color: #F5F1ED;
    border-radius: 2rem;
    -webkit-box-shadow: 10px 10px 16px -3px rgba(37,35,35,0.45);
    -moz-box-shadow: 10px 10px 16px -3px rgba(37,35,35,0.45);
    box-shadow: 10px 10px 16px -3px rgba(37,35,35,0.45);

  }

  .information h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .information img {
    width: 3rem;
    -ms-align-self: center;
    align-self: center;
  }

  .hobby {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
  }

  .hobby p {
    margin-left: 1rem;
  }

  .tech img {
    width: 7rem;
    padding: 1rem;
  }

  .techContainer {
      width: 65%;
  }

  .contact {
    position: relative;
    height: 96px;
  }

  .contact p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    bottom: 0;
  }

  .contactBtnsContainer {
      margin-top: 5rem;
  }

}

:root {
  font-family: 'Baloo Bhaina 2', cursive;
}
body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.client {
  display: none;
}

.navbar {
  opacity: 0;
  position: fixed;
  z-index: 2;
  font-weight: 500;
  animation-name: nav;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes nav {
  from {opacity: 0;}
  to {opacity: 1;}
}

.navbar:hover .navItem {
  display: block;
}


#logo {
  height: 2rem;
  fill: #F5F1ED;
  transition: 400ms;
}



.navItems {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: rgba(102, 110, 128, 0.7);
  border-radius: 2rem;
}

.navItem:last-child {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.navItem {
  display: none;
  cursor: pointer;
  color: #F4EBD6;
  transition: 600ms;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.navItem:hover {
  background-color: #252323;
  color: white;
}

.intro {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: linear-gradient(
    45deg,
    rgba(71,71,71,0.5) 0%,
    rgba(71,71,71,0.4) 100%),
    url(../src/images/image1.jpg);
  height: 100vh;
  font-family: 'Satisfy', cursive;
  color: #DAD2BC;
  position: relative;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-snap-align: start;
}


.intro h1 {
  font-size: 3rem;
}

.intro p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.intro p:last-child {
  margin-top: 5rem;
  font-size: 1.2rem;
}

section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  color: #252323;
  background-color: #F5F1ED;
}

section h1 {
  padding: 3rem;
  text-align: center;
  font-size: 3rem;
  font-family: 'Satisfy', cursive;
  text-shadow: 3px 3px 2px rgba(102, 110, 128, 0.5);
}

section:nth-child(even) {
  background-color: #252323;
  color: #F5F1ED;
}

.techContainer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 15%;
  border: solid white 2px;
  border-radius: 2rem;
  background-color: rgba(96, 95, 95, 0.7);
}

.tech {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.contactBtnsContainer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.tech p {
  display: none;
}

.contact:hover {
  background-color: grey;
}

.contact {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-decoration: none;
  color: white;
}
